DATABASE_URL="postgresql://postgres:postgres@localhost:5432/alldelivery?schema=public"
NEXTAUTH_SECRET="any-32-character-random-string-for-nextauth"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_GOOGLE_MAPS_KEY=""          # Se vazio, usa fallback Leaflet/OSM
UPLOAD_DIR="./public/uploads"
