@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
  }

  body {
    @apply bg-brand-bg text-white font-sans antialiased selection:bg-brand-red selection:text-white;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }

  /* Previne que SVG sem classe de largura explodam na tela em navegadores antigos ou FOUT */
  svg:not([class*="w-"]) {
    max-width: 100%;
    height: auto;
  }
}
